.messageBox {
  padding: 40px;
  height: 36px;
}

.messageBox p {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

form {
  text-align: center;
}

dl{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  flex-wrap: wrap
}

 dl dd {
  width: 30%;
}

dl dt {
  width: 50%;
  display: flex;
  align-items: center;
}

dl dt input, dl dt textarea {
  width: 70%;
  height: 100%;
  border-radius: 0;
  border: #333 1px solid;
  font-size: 100%;
  padding: 3px;
}

.btn {
  width: 10%;
  padding: 10px;
  background-color: orange;
  border: #333 1px solid ;
}


.btn:hover {
  background-color: #149397;
}

.errorBox {
  width: 100%;
  height: 40px;
}

.errorText {
  display: block;
  padding-left: 40%;
  color: red;
  font-size: 14px;
}