.updateBox {
  text-align: center;
}

.btn {
  width: 10%;
  padding: 10px;
  background-color: orange;
  border: #333 1px solid ;
}

.btn:hover {
  background-color: #149397;
}

.messageBox {
  padding: 40px;
  height: 36px;
}

.messageBox p {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.password, .profile{
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 40px;
}

 dl{
  display: flex;
  margin-top: 0;
  /* margin-bottom: 20px; */
  flex-wrap: wrap
}

 dl dd {
  width: 40%;
}

.profileImage dd {
  display: flex;
  align-items: center;
}

.profileImage dd img {
  width: 100px;
  height: 150px;
  border: 1px solid #333;
  margin-left: 20px;
}

 dl dt {
  width: 60%;
  display: flex;
  align-items: center;
}

dl dt input {
  width: 70%;
  height: 70%;
  border-radius: 0;
  border: #333 1px solid;
  font-size: 100%;
  padding: 3px;
}

.profileImage dt {
  display: flex;
  align-items: center;
}

.profileImage dt h3 {
  margin-bottom: 10px;
}

.profileImage dt input {
  height: auto;
}

.errorBox {
  width: 100%;
  height: 40px;
}

.errorText {
  display: block;
  padding-left: 40%;
  color: red;
  font-size: 14px;
  
}

.passwordUpdate dt a {
  display: block;
  padding: 0 10px;
  transition: 0.5s;
}

.passwordUpdate dt a:hover {
  background-color: #eee;
}

.profileImage dl dt input {
  height: 20px;
}