.header {
  background-color: #F16B4A;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 30px 0;
  margin: 0 30px;
  display: flex;
}

ul li {
  list-style: none;
}

ul li a{
  padding: 5px 10px;
  background-color: #149397;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  border-radius: 5px;
}

.status li a {
  background-color: #F16B4A;
  color: black;
}